@model Productos

<form asp-controller="Producto" asp-action="CrearProducto" class="container mt-4">
    <section class="mb-3">
        <label asp-for="@Model.IDProductos" class="form-label"></label>
        <input asp-for="@Model.IDProductos" class="form-control">
    </section>
    <section class="mb-3">
        <label asp-for="@Model.Descripcion" class="form-label"></label>
        <input asp-for="@Model.Descripcion" class="form-control">
    </section>
    <section class="mb-3">
        <label asp-for="@Model.Precio" class="form-label"></label>
        <input asp-for="@Model.Precio" class="form-control">
    </section>
    <section class="d-flex justify-content-center">
        <input type="submit" value="Enviar" class="btn btn-primary">
    </section>
</form>