@model List<Productos>
<body>
    <section class="container my-5">
        <h2 class="text-center mb-4">Listado de Productos</h2>
        <a asp-controller="Producto" asp-action="CrearProducto" asp-route-idProductos="@(Model.Last().IDProductos+1)" class="btn btn-warning btn-sm">Agregar Producto</a>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var producto in Model)
                    {
                        <tr>
                            <td>@producto.Descripcion</td>
                            <td>@producto.Precio.ToString("C")</td>
                            <td><a asp-controller="Producto" asp-action="ModificarProducto"
                                    asp-route-idProducto="@producto.IDProductos"
                                    class="btn btn-warning btn-sm">Modificar</a></td>
                            <td><a asp-controller="Producto" asp-action="EliminarProducto"
                                    asp-route-idProducto="@producto.IDProductos" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>