@model CrearPresupuestoViewModel

<form asp-controller="Presupuesto" asp-action="CrearPresupuesto" class="container mt-4">
    <section class="mb-3">
        <label asp-for="@Model.Presupuesto.IdPresupuesto" class="form-label"></label>
        <input asp-for="@Model.Presupuesto.IdPresupuesto" class="form-control">
    </section>
    <section class="mb-3">
        <label asp-for="@Model.IdCliente" class="form-label"></label>
        <select asp-for="@Model.IdCliente" class="form-control">
        @foreach(Clientes cliente in @Model.Clientes){
            <option value="@cliente.IdCliente">@cliente.Nombre</option>
        }
        </select>
    </section>
    <section class="d-flex justify-content-center">
        <input type="submit" value="Enviar" class="btn btn-primary">
    </section>
</form>